#include "../inc/rc.h"
EDITREF DIALOG 26, 17, 327, 223
#ifndef MODAL_EDIT
STYLE WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_VSCROLL | WS_HSCROLL | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX | WS_MINIMIZEBOX
#else
STYLE WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_VSCROLL | WS_HSCROLL | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX
#endif
FONT 10, "Arial"
CLASS ECLSNAME
MENU EDIT_REF
BEGIN
	RTEXT "&Title:", idt_Title, 1,4,33,9
	EDITTEXT id_Title, 36, 3, 273, 21, ES_MULTILINE | WS_VSCROLL
	RTEXT "", idt_BookJou, 57,28,69,8
	CONTROL "", id_Journal, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_VSCROLL | WS_TABSTOP, 127, 26, 182, 157
	RTEXT "&Vol:", idt_Volume, 196, 42, 19, 8
	EDITTEXT id_Volume, 218, 40, 38, 12, ES_AUTOHSCROLL
	RTEXT "&No:", idt_VolNo, 261, 42, 18, 8
	EDITTEXT id_Number, 282, 40, 27, 12, ES_AUTOHSCROLL
	RTEXT "&Pages:", idt_Pages, 219, 56, 47, 8
	EDITTEXT id_Pages, 269, 54, 40, 12, ES_AUTOHSCROLL
	LTEXT "&Abstract:", idt_Abstract, 4,31,38,8
	EDITTEXT id_Text, 3,41,189,172, ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL | 0x1000
	RTEXT "Publ&isher:", idt_Publisher, 196, 70, 37, 8
	EDITTEXT id_Publisher, 237, 68, 72, 12, ES_AUTOHSCROLL
	CONTROL "E&ditors:", idt_Editor, "STATIC", NOT WS_GROUP, 196, 82, 25, 8
	EDITTEXT id_Editor, 225, 82, 84, 25, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | WS_VSCROLL | 0x1000
	LTEXT "&City (of publ.)/address:", idt_City, 196, 109, 112, 8
	EDITTEXT id_City, 196, 119, 113, 25, ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL | 0x1000
	LTEXT "&Keywords:", idt_Keywords, 196, 145, 111, 8
	EDITTEXT id_Keywords, 196, 155, 113, 32, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | WS_VSCROLL | 0x1000
	PUSHBUTTON "&<", id_GPrev, 209, 189, 27, 12
	PUSHBUTTON "&>", id_GNext, 238, 189, 25, 12
	PUSHBUTTON "O&K && New", id_OkNew, 209, 202, 54, 12
	DEFPUSHBUTTON "OK", IDOK, 265, 189, 44, 12
	PUSHBUTTON "Cancel", IDCANCEL, 265, 202, 44, 12
END
