#include "../inc/rc.h"
BIBFMT DIALOG 18, 18, 229, 169
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Bibliography format"
FONT 10, "Arial"
BEGIN
  LTEXT "Example:", -1, 4,56,51,8
  CONTROL "", id_Sample, "EDIT", ES_LEFT | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL, 3, 65, 223, 82
  DEFPUSHBUTTON "OK", IDOK, 116, 151, 32, 15, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP
  PUSHBUTTON "Cancel", IDCANCEL, 152, 151, 38, 15, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Help", cm_Help, 194, 151, 32, 15, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  LISTBOX id_FmtList, 4, 4, 180, 48, LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP | WS_GROUP
  PUSHBUTTON "&Edit...", id_FmtEdit, 188, 4, 38, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP
  PUSHBUTTON "&New...", id_FmtNew, 188, 19, 38, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Delete", id_FmtDel, 188, 34, 38, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END
