#include "../inc/rc.h"
BIBNAME DIALOG 18, 18, 218, 44
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "New Bibliography format"
BEGIN
  CONTROL "", id_FmtEdit, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 12, 208, 12
  DEFPUSHBUTTON "OK", IDOK, 131, 27, 38, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP
  PUSHBUTTON "Cancel", IDCANCEL, 172, 27, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  LTEXT "What would you like to call this format?", -1, 6, 2, 209, 8
END
