#include "../inc/rc.h"
LANGDLG DIALOG 23, 18, 118, 102
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Choose Language"
BEGIN
	LISTBOX id_LangList, 4, 20, 110, 60, LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL
	DEFPUSHBUTTON "OK", IDOK, 28, 84, 42, 14
	PUSHBUTTON "Cancel", IDCANCEL, 72, 84, 42, 14
	LTEXT "Available language DLLs:", -1, 4,6,114,8
END

