#include "../inc/rc.h"
LISTOPT DIALOG 9, 24, 211, 92
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "List Options"
BEGIN
  CONTROL "Show &reference title", id_RefTitle, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8,16,81,10
  LTEXT "Author column &width:", -1, 9,29,79,8
  SCROLLBAR ids_ClmnWdth, 8,50,80,9, WS_TABSTOP
  CONTROL "&All", id_AuthAll, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 108,19,93,10
  CONTROL "&First only", id_AuthAll+1, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 108,32,93,10
  CONTROL "&Two/One et al", id_AuthAll+2, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 108,45,93,10
  CONTROL "Select &new items", id_SelectNew, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 6,75,87,10
  DEFPUSHBUTTON "OK", IDOK, 95,74,32,15
  PUSHBUTTON "Cancel", IDCANCEL, 129,74,38,15
  PUSHBUTTON "&Help", cm_Help, 169,74,39,15
  GROUPBOX "Show authors:", -1, 102,4,105,60
  CTEXT "", idt_ClmnWdth, 38,40,16,8
  CONTROL " Display format:", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4,4,88,60
END

