#ifdef WIN32
#include <winver.h>
#else
#include <ver.h>
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION    1,5,0,2
PRODUCTVERSION 7,8,1,0
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
FILEFLAGS      VS_FF_PRERELEASE
FILEOS         VOS__WINDOWS16
FILETYPE       VFT_DLL
FILESUBTYPE    VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN 
      VALUE "CompanyName",     "Tim Cutts\0"
      VALUE "FileDescription", "Refs Support library\0"
      VALUE "FileVersion",     "1.5.0.2\0"
      VALUE "InternalName",    "RIMPEXP.DLL\0"
      VALUE "LegalCopyright",  "Copyright © Tim Cutts 1995-7\0"
      VALUE "OriginalFilename", "RIMPEXP.DLL\0"
      VALUE "ProductName",      "Refs\0"
      VALUE "ProductVersion",  "7.8.1\0"
    END 
  END
 
  BLOCK "VarFileInfo" 
  BEGIN 
    VALUE "Translation", 0x809, 1252
  END 
END
